.button {
	position: absolute;
	top: 0;
	right: 5px;
	transition: transform 0.2s ease;

	&:not(.disabled):hover,
	&:not(.disabled):focus {
		transform: scale(1.1);
	}

	&.disabled {
		cursor: default;
		opacity: 0.3;
	}

	&.loading {
		opacity: 0;
	}

	img {
		width: 24px;
		height: 24px;

		@at-root [dark] & {
			filter: invert(100%);
		}
	}
}
