.comment {
	display: flex;
	margin-bottom: 10px;
	margin-left: 10px;
	min-width: 100%;

	&.collapsed:not(.deleted) {
		margin-left: 32px;
	}

	&.collapsed {
		.footer,
		.vote {
			display: none;
		}
	}

	&.deleted {
		.footer li,
		.vote {
			display: none;
		}

		// show permalink and save
		.footer li:nth-child(-n + 2) {
			display: block;
		}
	}

	&.collapsed {
		.tagline {
			font-style: italic;

			.collapse,
			.author a,
			.score,
			.time {
				color: #808080;
			}
		}

		.author span,
		.body,
		.children {
			display: none;
		}
	}
}

.score {
	color: rgb(180, 180, 180);
	font-weight: bold;
}

.content {
	flex-direction: column;
	width: calc(100% - 32px);
}

.loadMore {
	font-weight: bold;
	margin: 10px;

	&:hover {
		text-decoration: underline;
	}

	.count {
		font-weight: normal;
	}

	.loading {
		color: red;
	}
}

.tagline {
	align-items: center;
	color: #888;
	display: flex;
	margin-bottom: 5px;

	.collapse {
		color: #369;
		margin: 0 1px 0 1px;

		@at-root [dark] & {
			color: #2693e6;
		}
	}

	.author a {
		font-weight: bold;
	}

	.time {
		color: #aaa;
	}
}

.body {
	color: #222;
	font-size: 14px;
	margin-bottom: 6px;

	@at-root [dark] & {
		color: #e3e3e3;

		a {
			color: #2693e6;
		}
	}

	a {
		color: #0079d3;
		text-decoration: none;
	}

	blockquote,
	p,
	pre > code,
	th,
	td,
	li,
	ul,
	ol {
		line-height: 20px;

		&:not(:first-child) {
			margin-top: 5px;
		}
	}

	ul,
	ol {
		padding-left: 40px;
	}

	blockquote {
		border-left: 2px solid #c5c1ad;
		margin-left: 5px;
		padding-left: 8px;

		@at-root [dark] & {
			border-left-color: #777;
		}
	}
}

.children {
	border-left: 1px dotted #ddf;
	margin-top: 10px;

	@at-root [dark] & {
		border-left-color: #4a4a4a;
	}

	.comment:last-of-type {
		margin-bottom: 0;
	}
}
