.post {
	border: 1px solid #ddd;
	border-top: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-right: 10px;
	padding-top: 10px;

	@at-root [dark] & {
		border-color: #4a4a4a;
	}
}

.footer {
	margin-top: 2px;
}

.content {
	flex-direction: column;
}

.sort {
	margin-bottom: 10px;
	margin-left: 10px;

	select { font-size: 11px; }
}

.comments {
	margin-left: 5px;
}

.loading {
	margin: 10px;
}

.header {
	display: flex;
	margin-bottom: 15px;
	padding-left: 20px;

	.title {
		color: #369;
		font-size: 16px;
		margin-bottom: 2px;
		text-decoration: none;
	}
}

.headerContent {
	flex-direction: column;
	width: 100%;
}
